main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 60px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
  background-color: var(--neutral);
  transition: left 0.3s ease, background-color 0.3s ease;
}

.sidebar.open ~ .content header {
  left: 250px;
}

#logo {
  font-family: 'Satoshi-Bold';
  font-size: 1.25rem;
  color: var(--primary);
  line-height: 1;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  font-family: 'Satoshi-Medium';
  font-size: 1.05rem;
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  color: var(--primary);
  margin-right: 40px;
}
