.flashcard-root {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--accent);
    padding: 10px;
    border-radius: 20px;
}

.flashcard-root textarea {
    font-family: 'Satoshi-Medium';
    font-size: 1.05rem;
    text-wrap: wrap;
    border: none;
    background-color: var(--neutral);
    color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

.flashcard-info {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.flashcard-title {
    font-family: 'Satoshi-Black';
    font-size: 1.25rem;
    color: var(--primary);
    margin: auto 0px;
}

.flashcard-delete {
    color: var(--primary);
    background-color: transparent;
}

.flashcard-delete:hover {
    background-color: var(--delete-red);
}
