.flashcard-root {
    display: flex;
    flex-direction: row;
    gap: 0;
    border: 1px solid transparent;
    border-radius: 20px;
    opacity: 0;
    animation: fadeInUp 0.3s ease-out forwards;
    transition: gap 0.2s ease;
}

.flashcard-root:hover {
    gap: 10px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flashcard-root textarea {
    flex: 1;
    font-family: 'Satoshi-Medium';
    font-size: 1.05rem;
    text-wrap: wrap;
    border: none;
    background-color: var(--neutral);
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
}

.flashcard-title {
    font-family: 'Satoshi-Bold';
    font-size: 1.25rem;
    color: var(--primary);
    margin: auto 0px;
}

.flashcard-delete {
    width: 0;
    color: transparent;
    background-color: transparent;
    margin: auto 0;
    transition: width 0.2s ease, background-color 0.3s ease, color 0.3s ease;
}

.flashcard-root:hover .flashcard-delete {
    width: 35px;
    color: var(--primary);
}

.flashcard-root:hover .flashcard-delete:hover {
    background-color: var(--delete-red);
    color: var(--delete-white);
}
