.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    width: 60px;
    height: 100%;
    padding: 10px;
    color: var(--primary);
    background-color: var(--neutral);
    border-right: 2px solid var(--accent);
    transition: width 0.25s ease, background-color 0.25s ease;
}

.sidebar.open {
    width: 250px;
    background-color: var(--accent);
}

.sidebar.closed {
    width: 60px;
    background-color: var(--neutral);
}

.controls {
  height: min-content;
  width: auto;
  background-color: transparent;
  display: flex;
  justify-content: right;
}

.toggle-sidebar {
  display: flex;
  border: none;
  height: min-content;
  color: var(--primary);
  background-color: transparent;
  padding: 5px;
  margin-bottom: auto;
  border-radius: 5px;
}

.toggle-sidebar:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.sidebar.open .toggle-sidebar:hover {
  background-color: var(--neutral);
  cursor: pointer;
}

.toggle-sidebar svg {
  width: 30px
}

#chats {
    flex: 1;
}