.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    width: 60px;
    height: 100%;
    padding: 10px;
    color: var(--primary);
    background-color: var(--neutral);
    border-right: 1px solid var(--secondary);
    transition: width 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.sidebar.open {
    width: 250px;
    background-color: var(--accent);
    border-right: 1px solid var(--secondary);
}

.sidebar.open .toggle-sidebar:hover{
  cursor: w-resize;
}

.sidebar.closed {
    width: 60px;
    background-color: var(--neutral);
}

.sidebar.closed .toggle-sidebar:hover{
  cursor: e-resize;
}

.top-controls {
  height: min-content;
  width: auto;
  background-color: transparent;
  display: flex;
  justify-content: right;
}

.bottom-controls {
  height: min-content;
  width: auto;
  background-color: transparent;
  display: flex;
  justify-content: right;
}

button {
  width: 40px;
  height: 40px;
  height: min-content;
  display: flex;
  vertical-align: middle;
  align-items: center;
  border: none;
  color: var(--primary);
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
}

button svg {
  margin: 0 auto;
}

button:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.sidebar.open button:hover {
  background-color: var(--neutral);
  cursor: pointer;
}

#chats {
    flex: 1;
}