.user-query-root {
    display: flex;
    justify-content: right;
    width: 100%;
}

.user-query-text {
    font-family: 'Satoshi-Medium';
    font-size: 1.05rem;
    background-color: var(--accent);
    color: var(--primary);
    padding: 10px 15px;
    margin: 0;
    width: min(min-content, 100%);
    max-width: 550px;
    word-wrap: wrap;
    border: 1px solid var(--secondary);
    border-radius: 20px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
}
