.user-query-root {
    display: flex;
    justify-content: right;
    width: 100%;
}

.user-query-text {
    background-color: var(--accent);
    color: var(--primary);
    padding: 10px 15px;
    margin: 0;
    width: min(min-content, 100%);
    max-width: 500px;
    word-wrap: wrap;
    border-radius: 20px;
    border-bottom-right-radius: 5px;
}
